<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body class="login-body">

<div class="login-box">
<h1>Online Learning Platform</h1>

<input type="text" placeholder="Username">
<input type="password" placeholder="Password">

<button onclick="login()">Login</button>
<button onclick="signup()">Signup</button>
</div>

<script>
function login(){
window.location.href='/home';
}

function signup(){
alert('Signup Successful');
}
</script>

</body>
</html>